= haml :"_js_encrypt"

:javascript
  function encrypt() {
    var data = JSON.stringify([$('#user').val(),$('#additional_pin').val(),
                               $('#pin').val()]);
    $('#ibanvalue').val($('#iban').val());
    $('#uservalue').val($('#user').val());

    encrypt_data(data, "#{FigoPublicKey}", function(result){
      document.getElementById("enc_token_field").value = result;
      document.getElementById("send_data").submit();
    });
  }

- if @message
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Response
    .panel-body
      = @message

.panel.panel-primary
  .panel-heading
    %h3.panel-title Prepare bank credentials
  .panel-body
    .row
      .col-md-6
        %form#send_data{ :method => :post, :action => "/add_account" }
          %input#enc_token_field{:type=>:hidden, :name => "creds", :value => ""}
          %input#ibanvalue{:type=>:hidden, :name => "iban", :value => ""}
          %input#uservalue{:type=>:hidden, :name => "user", :value => ""}

        %form{ :onsubmit => "encrypt(); return false;" }
          .row
            %p
            .col-md-4 IBAN:
            .col-md-6
              %input#iban{:size => "40", :type => "text" }/
            .col-md-2
              %span#ibangood.td-n.mr-5px.brad-100p.bgc-green.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "checkmark5"}
              %span#ibanbad.td-n.mr-5px.brad-100p.bgc-red.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "cross4"}
              %img#ibanwait.td-n.mr-5px.brad-100p.bgc-orange.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{:src => "/images/loader.svg"}
          .row
            %p
            .col-md-4 Bank:
            .col-md-6
              %span#bankname
          .row
            %p
            .col-md-4 Name:
            .col-md-6
              %input#user{:size => "40", :type => "text" }/
          .row
            %p
            .col-md-4 Password:
            .col-md-6
              %input#pin{:size => "40", :type => "text"}/
          .row
            %p
            .col-md-4 Additional Password:
            .col-md-6
              %input#additional_pin{:size => "40", :type => "text"}/
          %p
          .row
            %p
            .col-md-4
            .col-md-6
              %input.btn.btn-warning{:type => "submit", :value => "Submit"}

:javascript
  $(document).ready(function(){
    $('#ibangood').hide();
    $('#ibanbad').hide();
    $('#ibanwait').hide();

    $('#iban').on('change', function(){
      $('#ibangood').hide();
      $('#ibanbad').hide();
      $('#ibanwait').show();

      $.ajax({
        url: '/iban/check',
        method: 'post',
        dataType: 'json',
        data: { iban: $('#iban').val() }
      }).done(function(data){
        if ( data["r"] ) {
           $('#ibangood').show();
           $('#bankname').html("<img src='/images/loader.svg'>");
           $.ajax({
             url: '/iban/bankname',
             method: 'post',
             dataType: 'json',
             data: { iban: $('#iban').val() }
           }).done(function(data){
             $('#bankname').html(data["r"]);
           });
        } else {
           $('#ibanbad').show();
        }
        $('#ibanwait').hide();
      });
    });
  });
