- if @message
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Response
    .panel-body
      = @message

.panel.panel-primary
  .panel-heading
    %h3.panel-title Format not Supported
  .panel-body
    Sorry, that format is not supported.
