- total_score = 0
.panel.panel-primary
  .panel-heading
    %h3.panel-title Bonität
  .panel-body
    %table.w-100p.colorit
      %thead
        %tr
          %th.txa-l Factor
          %th.txa-c Value
          %th.txa-c Score
      %tbody
        - RatingFactors.each do |_,factor|
          - val = factor[:proc].call(@user)
          - total_score += val.last
          %tr
            %td
              %span{:tooltip => factor[:desc] }= factor[:name]
            %td.txa-c= format_rating_value(val.first)
            %td.txa-c{:class => val.last < 0 ? "c-red" : "c-green"}= val.last
        %tr
          %td Total Score
          %td
          %td.txa-c{:class => total_score < 0 ? "c-red" : "c-green"}= total_score
