.panel.panel-primary
  .panel-heading
    %h3.panel-title Other Services
  .panel-body
    %ul.no-bullet-point
      %li Rechnung Reminder
      %li Am Limit
      %li Zahlung Ausgefallen
      %li Badges/Buttons with Rating for Website - Bonitätsbadge
