%section.bgc-grey.fxg-1.d-fx.fxjc-c
  .fxg-1.d-fx.fxw-nw.fxjc-s.fxac-s.max-w-1000px.fxd-v
    .w-100p.h-400px.m-5px.bs-1.brad-2px.bgc-white.p-5px.o-a
      %ul.no-bullet-point
        %li Rechnung Reminder
        %li Am Limit
        %li Zahlung Ausgefallen
